.photo-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 2100px;
}

.carousel-image{
    width: 700px;
    height:450px;
}

.photo-business-content-container{
    position: relative;
    width: 100%;
}

.business-content-container{
    position: absolute;
    top:350px;
    left: 200px

}

.business-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f1f1f1;

}
.business-name{
    font-size: 40px;
    font-weight: bold;
    text-shadow: .25px .5px grey;
}

.business-review-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-info{
    margin: 10px;
    color: #f1f1f1;
    font-size: 22px;
    text-shadow: .25px .5px grey;
}
.upper-header-details{
    color: #f1f1f1;
    font-size: 22px;
    text-shadow: .25px .5px grey;
}

.lower-header-details{
    color: #f1f1f1;
    font-size: 22px;
    text-shadow: .25px .5px grey;
}
