.photo-header{
    position: relative;
}


/* incomplete implementation of gradient over the photoheader */
/* .photo-header::after{
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(54, 53, 53, 0.374) 100%);
    margin-top: -300px;
    height: 295px;
    width: 100%;
    content: '';
    } */
    
.photo-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 2100px;
}



.carousel-image{
    width: 700px;
    height:450px;
}

.photo-business-content-container{
    position: relative;
    width: 100%;
}

.business-content-container{
    position: absolute;
    top: 225px;
    left: 200px;
    /* background-image: linear-gradient(to bottom, black, white); */
}

.business-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}

.business-content-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.business-name{
    font-size: 40px;
    font-weight: bold;
    text-shadow: .25px .5px grey;
}

.business-name > h1{
    margin: 0px
}

.business-review-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-info{
    margin: 10px;
    color: white;
    font-size: 22px;
    text-shadow: .25px .5px grey;
}
.upper-header-details{
    color: white;
    font-size: 22px;
    text-shadow: .25px .5px grey;
}

.lower-header-details{
    color: white;
    font-size: 22px;
    text-shadow: .25px .5px grey;
}
