.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 24px 40px 0px;
    height: 100px;
    background-color: #f9f9f9;
    border-bottom: lightgray .5px solid;
}

#upper-navigation {
    display: grid;
    grid-template-columns: 15fr 60fr 25fr;
    width: 100%;
}

.upper-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%
}

.upper-left-home {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.upper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.upper-right-buttons {
    display: flex;
}

.login-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    height: 38px;
    width: 70px
}

.signup-button {
    background-color: #ff1a1a;
    color: white;
    border: .5px solid #ff1a1a;
    height: 38px;
    width: 70px;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

a:link {
    text-decoration: none;
}

.hidden {
    display: none
}

.profile-dropdown {
    position: absolute;
    margin-top: 10px;
}

.dropdown-menu {
    align-items: center;
    align-content: flex-end;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.25rem;
    height: auto;
    list-style: none;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    top: calc(100% + 0.25rem);
}

.dropdown-menu .user-info {
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
}

.profile-button {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: hidden;
    background-color: transparent;
}

.fa-user-circle {
    font-size: 50px;
    color: gray;
    height: 20px;
    width: 20px;

}

#for-business {
    text-decoration: none;
    color: rgba(45, 46, 47, 1);
    font-weight: bold;
    font-size: 18px;
}

.bookmark-button {
    transition: all 0.3s ease-in-out;
    background: none;
    border: none;
    width: 80px;
    height: 30px;
}

.loginSign-button1 {
    background: none;
    border: none;
    width: 80px;
    height: 30px;
}

.bookmark-button:hover {
    background-color: #dcd7d7;
    border-radius: 5px;
}

.loginSign-button1:hover {
    background-color: #dcd7d7;
    border-radius: 5px;
}