.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 24px 40px 0px;
    height:200px
}

#upper-navigation {
    display: grid;
    grid-template-columns: 15fr 60fr 25fr;
    width: 100%;
}

.upper-right-buttons {
    display: flex;
    flex-direction: row;
}

.nav-buttons-container{
    display: flex;
    flex-direction: row;
}

.upper-left-home{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.upper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-button-container {
    display: flex;
    flex-direction: row;
}

.upper-right-buttons {
    display: flex;
}

a:link {
    text-decoration: none;
}

.hidden {
    display: none
}
