.AddButton {
    margin: 20px 5px ;
    font-weight: bold;
    color: rgba(45,46,47,1);
    height: 3em;
    width: 7em;
    border-radius: 7px;
    border: rgb(172, 172, 172) solid 0.5px;
    background-color: transparent;
}

.AddButton:hover {
    background-color: lightgray;
}

.createImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createImageInput {
    padding: 1em;
    border-radius: 10px;
    width: inherit;
}
