.outerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5em 0em 20em 0em;
}

.add-business-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0.5em 1em 0.5em;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.add-business-text {
    margin-bottom: 1em;
}

.add-business-inputs {
    width: 35em;
}

.add-business-inputs input {
    height: 2em;
}

.add-business-inputs p {
    margin: 15px 0px 5px 0px;
}

.add-business-errors {
    margin-top: 15px;
}

.add-spot-div h3 {
   display: flex;
   justify-content: center;
}

#add-business-button {
    font-weight: bold;
    font-size: 16px;
    margin-top: 1em;
    border-radius: 7px;
    height: 2.5em;
    width: 8em;
    background-color: rgba(224,7,7,1);
    color: white;
    border: none;
    box-shadow: 0px .5px 1px rgba(114, 113, 113, 0.2);
    transition: background-color 1s;
}

#add-business-button:hover {
    background-color:#ff2b2b;
}

#description-text{
    height: 80px;
}
