.reviews {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    flex-wrap: wrap;

}

.photo-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 2100px;

}

.carousel-image{
    width: 700px;
    height:450px;
}
