.reviewCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    flex-shrink: 1;
    border: solid #ebebeb 1px;
    max-width: 20em;
    min-width: 20em;
    height: 23em;
    padding: 1em;

}

.gap {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.reviewBody {
    height: 4.5em;
    width: auto;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.bizName {
    font-weight: bold;
    color: rgba(2,122,151,1);
}

.bizName:hover {
    text-decoration: underline;
}

.reviewImages {
    display: flex;
    align-items: center;
    margin: 1em 1em 0em 0em;
}

#reviewAction {
    font-size: 12px;
    color: rgb(91, 102, 114);
}
